In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
df_fake["class"] = 0
df_true["class"] = 1

In [6]:
df_fake. shape, df_true. shape

((23481, 5), (21417, 5))

In [7]:
df_fake_manual_testing = df_fake.tail(10)
for i in range (23480, 23470, -1):
    df_fake.drop([i], axis = 0, inplace = True)

In [8]:
df_true_manual_testing = df_true.tail(10)
for i in range (21416, 21406, -1):
    df_fake.drop([i], axis = 0, inplace = True)

In [9]:
df_manual_testing = pd.concat ([df_fake_manual_testing, df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

In [10]:
df_join = pd.concat([df_fake, df_true], axis = 0)
df_join.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [11]:
df = df_join.drop(['title', 'subject', 'date'], axis = 1)

In [12]:
df = df.sample(frac= 1)
df.head()

                                                    text  class
10289  WASHINGTON (Reuters) - U.S. House of Represent...      1
15230  MADRID (Reuters) - Spain s state prosecutor on...      1
669    The NRA has a new favorite toy, but there are ...      0
11182  To set up the attack on Trump, CNN producers  ...      0
14276  HARARE (Reuters) - Zimbabwe s parliament has r...      1

In [13]:
df.isnull()

        text  class
10289  False  False
15230  False  False
669    False  False
11182  False  False
14276  False  False
...      ...    ...
8623   False  False
18356  False  False
2467   False  False
22939  False  False
15088  False  False

[44878 rows x 2 columns]

In [14]:
def word_drop(text):
    text = text. lower()
    text = re.sub ( '\[.*?\]', '', text )
    text = re.sub ( "\\W", '', text )
    text = re.sub ( "https?://\S+", '', text )
    text = re.sub ( '<.*?>+', '', text )
    text = re.sub ( '[%s]' % re.escape (string.punctuation), '', text )
    text = re.sub ( '\n', '', text )
    text = re.sub ( '\w*\d\w*', '', text )
    return text

In [15]:
df['text'] = df['text']. apply(word_drop)
df.head(10)
df

                                                    text  class
10289                                                         1
15230  madridreutersspainsstateprosecutoronthursdayas...      1
669                                                           0
11182  tosetuptheattackontrumpcnnproducersshowedhilla...      0
14276                                                         1
...                                                  ...    ...
8623                                                          0
18356  manchesterenglandreutersbritishprimeministerth...      1
2467                                                          0
22939                                                         0
15088                                                         1

[44878 rows x 2 columns]

In [16]:
df.head()

                                                    text  class
10289                                                         1
15230  madridreutersspainsstateprosecutoronthursdayas...      1
669                                                           0
11182  tosetuptheattackontrumpcnnproducersshowedhilla...      0
14276                                                         1

In [17]:
x = df["text"]
y = df["class"]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .35)
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
vectorization = TfidfVectorizer()
xv_train = vectorization. fit_transform(x_train)
xv_test = vectorization. transform(x_test)

In [20]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [21]:
LR.score(xv_test, y_test)

0.529284441049147

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
RFC = RandomForestClassifier(random_state= 0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [24]:
RFC.score(xv_test, y_test)

0.529284441049147

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
GBC = GradientBoostingClassifier(random_state= 0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [26]:
GBC.score(xv_test, y_test)

0.5258467023172906